@model IEnumerable<TeamYaoApp.Fixture>

@{
    ViewBag.Title = "PastFixtures";
}

<h2>Past Fixtures</h2>

<p>
    @Html.ActionLink("Back to upcoming fixtures", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FixtureId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FixtureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FixtureId })
        </td>
    </tr>
}

</table>
